.content-view {
  flex: 1;
  margin-left: 250px;
  --sidebar-w: 250px;
  transition: margin-left 0.3s ease;
}

/* Responsive styles */
@media (max-width: 768px) {
  .content-view {
    margin: 0;
    padding-top: 80px;
    --sidebar-w: 0px;
  }
}
